* {
  box-sizing: border-box;
}

html {
  background-image: url("https://pbs.twimg.com/profile_images/271923932/30nac02_400x400.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: rgba(255, 128, 0, 0.9);
  text-align: center;
}

.instructor__li {
  list-style: none;
  text-align: left;
}

.inst__img {
  display: block;
  height: 15%;
  width: 15%;
}

.next__btn {
  text-align: center;
  margin-top: 40px;
}

.video {
  display: inline-block;
  padding-top: 130px;
}
Contact GitHub API Training Shop Blog About
