<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1> Bem vinda! </h1>
  <main id="app"></main>
  <form>
    <div>
       <input type="text" name="username" placeholder="User Name" autocomplete="off"></input>
     </div>
     <div>
       <input type="password" name="psw" placeholder="Password"></input>
     </div>
    <div>
       <input type="submit" value="Log In"></input>
    </div>
   </form>
  <script src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>
