<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1> Log In here </h1>
  <main id="app"></main>
  <form>
    <div>
       <input type="text" name="firstname" placeholder="First name"></input>
     </div>
     <div>
       <input type="text" name="lastname" placeholder="Last name"></input>
     </div>
    <div>
       <input type="submit" value="Submit"></input>
    </div>
   </form>
  <script src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>
