<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdn.firebase.com/libs/reactfire/0.6.0/reactfire.min.js"></script>
</head>
<body>
  <h1>  </h1>
  <main id="app">

  </main>
  <script src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>
