<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
</head>
<body>
  <h1>  </h1>
  <main id="app">
    var config = {
    apiKey: "AIzaSyCLqtKsAemKF_kYUwmFXGzV094xZp_k9b8",
    authDomain: "jiu-jits-app.firebaseapp.com",
    databaseURL: "https://jiu-jits-app.firebaseio.com",
    storageBucket: "",
    messagingSenderId: "765338752749"
  };
  firebase.initializeApp(config);
</script>
  </main>
  <script src="javascripts/bundle.js" charset="utf-8"></script>
</body>
</html>
